:root {
  --primary-color: #00eeff;
  --secondary-color: #f5f2fe;
  --box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

body {
  margin: 100px 0;
  background: var(--bs-gray);
}

h1,
h2,
h3 {
  margin: 0;
}

h1 {
  font-size: 96px;
}

h2 {
  font-size: 48px;
}

h3 {
  color: var(--secondary-color);
  font-size: 24px;
  opacity: 0.8;
}

p {
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 1.5;
}

.navigation-links {
  display: flex;
  margin-top: 40px;
  justify-content: center;
}

.navigation-links a {
  margin: 20px;
}

.main-link {
  background: var(--bs-purple);
  color: var(--secondary-color);
  box-shadow: var(--box-shadow);
}

.secondary-link {
  color: var(--secondary-color);
  border: 1px solid var(--bs-orange);
}

.navigation-links a,
.main-link {
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  transition: all 150ms ease-in-out;
}

.main-link:hover,
.secondary-link:hover {
  color: var(--primary-color);
}

.about-paragraphs {
  margin: 30px 0;
}

.about-paragraphs p {
  margin: 10px;
}

.email-link {
  display: flex;
  justify-content: center;
  color: var(--secondary-color);
  font-size: 28px;
  text-decoration: none;
  transition: 150ms ease-in-out;
}

.email-link:hover {
  color: var(--primary-color);
  text-decoration: underline;
}

@media (max-width: 576px) {
  h1 {
    font-size: 48px;
  }
  h2 {
    font-size: 32px;
    text-align: center;
  }
  p {
    text-align: center;
  }
  .app-link {
    display: block;
    text-align: center;
    margin: 0 20px;
  }
}
